extends layout

block content
  h1= title

  div(id='carousel')
    img(src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRoiGYrRer8el-DuKKQ10RgYBPTWDFjKkw6aGwIFh7JkX1hjnBJTw', alt='a tulip')
    img(src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRulz650lh69M8DP6hTPs9xShPjdJ9SkFDpSIdW-7M-13K_5RKoXw', alt='a rose')
    img(src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSdTGw7yg-6KkHaYGAarlm3C_trB7jjKKV9iWaJET3xgKfzHCGC', alt='a daisy')
    img(src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRoiGYrRer8el-DuKKQ10RgYBPTWDFjKkw6aGwIFh7JkX1hjnBJTw', alt='a tulip')
    img(src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRulz650lh69M8DP6hTPs9xShPjdJ9SkFDpSIdW-7M-13K_5RKoXw', alt='a rose')
    script(src='http://code.jquery.com/jquery.js')
    
